<header>Import  thu vien</header>

In [2]:
import pandas as pd

<header>Tao Series</header>

In [3]:
value = [1, 7, 4]

pd.Series(value)
pd.Series(value, index=['x', 'y', 'z'])

x    1
y    7
z    4
dtype: int64

In [4]:
day = [2, 3, 4]
pd.Series(day, index=['Mon', 'Tues', 'Weds'])

Mon     2
Tues    3
Weds    4
dtype: int64

In [5]:
data = {'colories': [420, 380, 290], 'duration': [50, 40, 45]}
df = pd.DataFrame(data)

#### In ra n dong dau tien

In [6]:
df.head(2)

   colories  duration
0       420        50
1       380        40

#### In ra n dong cuoi

In [7]:
df.tail(1)

   colories  duration
2       290        45

#### In ra thong tin cua df

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   colories  3 non-null      int64
 1   duration  3 non-null      int64
dtypes: int64(2)
memory usage: 176.0 bytes

#### In ra kieu du lieu cua tung (Series) trong Dataframe

In [9]:
df.dtypes

colories    int64
duration    int64
dtype: object

#### Xuat ra file csv

In [10]:
df.to_csv("demo.csv", index=False)

#### IMPORT FILE

In [11]:
csv_df = pd.read_csv("demo.csv")
csv_df

   colories  duration
0       420        50
1       380        40
2       290        45

#### LUU file tsv

In [12]:
csv_df.to_csv("demo.tsv", sep='\t', index=0)

In [13]:
tsv_df = pd.read_csv("demo.tsv", sep='\t')
tsv_df

   colories  duration
0       420        50
1       380        40
2       290        45

#### Bai tap

In [14]:
data = {'MAGV': ['001', '002', '003', '004', '005', '006', '007', '008', '009'], 'DIENTHOAI': [
    '0838912112', '0903123123', '0913454545', '0838121212', '0903656565', '0937125125', '0937888888', '0653717171', '0913232323']}
gv_df = pd.DataFrame(data)

Yeu cau 2:

In [15]:
gv_df.head(5)

  MAGV   DIENTHOAI
0  001  0838912112
1  002  0903123123
2  003  0913454545
3  004  0838121212
4  005  0903656565

Yeu cau 3:

In [16]:
gv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MAGV       9 non-null      object
 1   DIENTHOAI  9 non-null      object
dtypes: object(2)
memory usage: 272.0+ bytes

Yeu cau 4:

In [17]:
gv_df.dtypes

MAGV         object
DIENTHOAI    object
dtype: object

Yeu cau 5:

In [18]:
gv_df.to_csv("gv_csv.csv", index=False)

Yeu cau 6:

In [19]:
pd.read_csv("gv_csv.csv", dtype="string")

  MAGV   DIENTHOAI
0  001  0838912112
1  002  0903123123
2  003  0913454545
3  004  0838121212
4  005  0903656565
5  006  0937125125
6  007  0937888888
7  008  0653717171
8  009  0913232323

In [20]:
gv_data = {'MAGV': ['001', '002', '003', '004', '005', '006', '007', '008', '009', '010'],
           'HOTEN': ['Nguyễn Hoài An',
                     'Trần Trà Hương',
                     'Nguyễn Ngọc Ánh',
                     'Trương Nam Sơn',
                     'Lý Hoàng Hà',
                     'Trần Bạch Tuyết',
                     'Nguyễn An Trung',
                     'Trần Trung Hiểu',
                     'Trần Hoàng Nam',
                     'Phạm Nam Thanh'],
           'LUONG': ['2000.0',
                     '2500.0',
                     '2200.0',
                     '2300.0',
                     '2500.0',
                     '1500.0',
                     '2100.0',
                     '1800.0',
                     '2000.0',
                     '1500.0'],
           'PHAI': ['Nam',
                    'Nữ',
                    'Nữ',
                    'Nam',
                    'Nam',
                    'Nữ',
                    'Nam',
                    'Nam',
                    'Nam',
                    'Nam'],
           'NGSINH': ['1973-02-15',
                      '1960-06-20',
                      '1975-05-11',
                      '1959-06-20',
                      '1954-10-23',
                      '1980-05-20',
                      '1976-06-05',
                      '1977-08-06',
                      '1975-11-22',
                      '1980-12-12'],
           'DIACHI': ['25/3 Lạc Long Quân, Q.10, TP HCM',
                      '125 Trần Hưng Đạo, Q.1, TP HCM',
                      '12/21 Võ Văn Ngân Thủ Đức, TP HCM',
                      '215 Lý Thường Kiệt,TP Biên Hòa',
                      '22/5 Nguyễn xí, Q.Bình Thạnh, TP HCM',
                      '127 Hùng Vuong, TP Mỹ Tho',
                      '234 3/2, TP Biên Hòa',
                      '22/11 Lý Thuờng Kiệt, TP Mỹ Tho',
                      '234 Trấn Não, An Phú, TP HCM',
                      '221 Hùng Vuơng, Q.5, TP HCM'],
           'GVQLCN': ['',
                      '',
                      '002',
                      '',
                      '',
                      '004',
                      '',
                      '007',
                      '001',
                      '007'],
           'MABM': ['MMT',
                    'HTTT',
                    'HTTT',
                    'VS',
                    'VLĐT',
                    'VS',
                    'HPT',
                    'HPT',
                    'MMT',
                    'HPT']
           }
giaovien_df = pd.DataFrame(gv_data)
giaovien_df

,MAGV,HOTEN,LUONG,PHAI,NGSINH,DIACHI,GVQLCN,MABM
0,001,Nguyễn Hoài An,2000.0,Nam,1973-02-15,"25/3 Lạc Long Quân, Q.10, TP HCM",,MMT
1,002,Trần Trà Hương,2500.0,Nữ,1960-06-20,"125 Trần Hưng Đạo, Q.1, TP HCM",,HTTT
2,003,Nguyễn Ngọc Ánh,2200.0,Nữ,1975-05-11,"12/21 Võ Văn Ngân Thủ Đức, TP HCM",002,HTTT
3,004,Trương Nam Sơn,2300.0,Nam,1959-06-20,"215 Lý Thường Kiệt,TP Biên Hòa",,VS
4,005,Lý Hoàng Hà,2500.0,Nam,1954-10-23,"22/5 Nguyễn xí, Q.Bình Thạnh, TP HCM",,VLĐT
5,006,Trần Bạch Tuyết,1500.0,Nữ,1980-05-20,"127 Hùng Vuong, TP Mỹ Tho",004,VS
6,007,Nguyễn An Trung,2100.0,Nam,1976-06-05,"234 3/2, TP Biên Hòa",,HPT
7,008,Trần Trung Hiểu,1800.0,Nam,1977-08-06,"22/11 Lý Thuờng Kiệt, TP Mỹ Tho",007,HPT
8,009,Trần Hoàng Nam,2000.0,Nam,1975-11-22,"234 Trấn Não, An Phú, TP HCM",001,MMT
9,010,Phạm Nam Thanh,1500.0,Nam,1980-12-12,"221 Hùng Vuơng, Q.5, TP HCM",007,HPT

In [21]:
giaovien_df.to_csv("giaovien.csv", index=False)

In [22]:
giaovien_df.head(5)

,MAGV,HOTEN,LUONG,PHAI,NGSINH,DIACHI,GVQLCN,MABM
0,001,Nguyễn Hoài An,2000.0,Nam,1973-02-15,"25/3 Lạc Long Quân, Q.10, TP HCM",,MMT
1,002,Trần Trà Hương,2500.0,Nữ,1960-06-20,"125 Trần Hưng Đạo, Q.1, TP HCM",,HTTT
2,003,Nguyễn Ngọc Ánh,2200.0,Nữ,1975-05-11,"12/21 Võ Văn Ngân Thủ Đức, TP HCM",002,HTTT
3,004,Trương Nam Sơn,2300.0,Nam,1959-06-20,"215 Lý Thường Kiệt,TP Biên Hòa",,VS
4,005,Lý Hoàng Hà,2500.0,Nam,1954-10-23,"22/5 Nguyễn xí, Q.Bình Thạnh, TP HCM",,VLĐT

In [23]:
giaovien_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MAGV    10 non-null     object
 1   HOTEN   10 non-null     object
 2   LUONG   10 non-null     object
 3   PHAI    10 non-null     object
 4   NGSINH  10 non-null     object
 5   DIACHI  10 non-null     object
 6   GVQLCN  10 non-null     object
 7   MABM    10 non-null     object
dtypes: object(8)
memory usage: 768.0+ bytes

In [24]:
giaovien_df.dtypes

MAGV      object
HOTEN     object
LUONG     object
PHAI      object
NGSINH    object
DIACHI    object
GVQLCN    object
MABM      object
dtype: object

In [25]:
pd.read_csv("giaovien.csv")

,MAGV,HOTEN,LUONG,PHAI,NGSINH,DIACHI,GVQLCN,MABM
0,1,Nguyễn Hoài An,2000.0,Nam,1973-02-15,"25/3 Lạc Long Quân, Q.10, TP HCM",NaN,MMT
1,2,Trần Trà Hương,2500.0,Nữ,1960-06-20,"125 Trần Hưng Đạo, Q.1, TP HCM",NaN,HTTT
2,3,Nguyễn Ngọc Ánh,2200.0,Nữ,1975-05-11,"12/21 Võ Văn Ngân Thủ Đức, TP HCM",2.0,HTTT
3,4,Trương Nam Sơn,2300.0,Nam,1959-06-20,"215 Lý Thường Kiệt,TP Biên Hòa",NaN,VS
4,5,Lý Hoàng Hà,2500.0,Nam,1954-10-23,"22/5 Nguyễn xí, Q.Bình Thạnh, TP HCM",NaN,VLĐT
5,6,Trần Bạch Tuyết,1500.0,Nữ,1980-05-20,"127 Hùng Vuong, TP Mỹ Tho",4.0,VS
6,7,Nguyễn An Trung,2100.0,Nam,1976-06-05,"234 3/2, TP Biên Hòa",NaN,HPT
7,8,Trần Trung Hiểu,1800.0,Nam,1977-08-06,"22/11 Lý Thuờng Kiệt, TP Mỹ Tho",7.0,HPT
8,9,Trần Hoàng Nam,2000.0,Nam,1975-11-22,"234 Trấn Não, An Phú, TP HCM",1.0,MMT
9,10,Phạm Nam Thanh,1500.0,Nam,1980-12-12,"221 Hùng Vuơng, Q.5, TP HCM",7.0,HPT