In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("COVID-19.xlsx")
df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,2020-11-11,11,11,2020,0,0,Afghanistan,AF,AFG,38041757.0,Asia,3.464614
1,2020-11-10,10,11,2020,224,12,Afghanistan,AF,AFG,38041757.0,Asia,3.761656
2,2020-11-09,9,11,2020,80,3,Afghanistan,AF,AFG,38041757.0,Asia,3.695939
3,2020-11-08,8,11,2020,126,6,Afghanistan,AF,AFG,38041757.0,Asia,3.656508
4,2020-11-07,7,11,2020,58,2,Afghanistan,AF,AFG,38041757.0,Asia,3.538217
...,...,...,...,...,...,...,...,...,...,...,...,...
54858,2020-03-25,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
54859,2020-03-24,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
54860,2020-03-23,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
54861,2020-03-22,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
54862,2020-03-21,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.index

In [ ]:
df.info()

In [ ]:
df.describe()

In [4]:
df.columns

Index(['dateRep', 'day', 'month', 'year', 'cases', 'deaths',
       'countriesAndTerritories', 'geoId', 'countryterritoryCode',
       'popData2019', 'continentExp',
       'Cumulative_number_for_14_days_of_COVID-19_cases_per_100000'],
      dtype='object')

#### So phan tu khac nhau trong 1 column

In [ ]:
df.geoId.unique()

#### Dem so lan xuat hien

In [ ]:
df.geoId.value_counts()

#### Sort theo gia tri

In [ ]:
df.sort_values(by=['geoId'])

In [ ]:
df.sort_values(by=['deaths'])

#### Truy xuat du lieu

In [ ]:
# [] and .
new_df = df.copy()

In [ ]:
new_df.geoId = df.geoId
new_df.geoId

In [ ]:
# Truy du lieu cua VN
new_df.loc[new_df.geoId == "VN"]

#### Xuat du lieu cua viet nam trong 2020

In [ ]:
new_df.loc[(new_df.geoId == "VN") & (new_df.year == 2020)]

#### BAI 1: Xuat du lieu cua Viet Nam va AF

In [ ]:
new_df.loc[(new_df.geoId == "VN") | (new_df.geoId == "AF")]

#### 1. Xuáº¥t danh sÃ¡ch cÃ¡c quá»‘c gia cÃ³ thÃ´ng tin báº¯t Ä‘áº§u tá»« nÄƒm 2019

In [ ]:
new_df.loc[(new_df.year == 2019)]

#### 2. Xuáº¥t danh sÃ¡ch cÃ¡c quá»‘c gia cÃ³ sá»‘ tá»•ng sá»‘ deaths lá»›n hÆ¡n 1500

In [ ]:
new_df.loc[new_df.deaths >= 1500]

#### 3. Xuáº¥t danh sÃ¡ch cÃ¡c quá»‘c gia cÃ³ ngÃ y cÃ³ sá»‘ case lá»›n hÆ¡n 400

In [ ]:
new_df.loc[new_df.cases > 400]

#### 4. Cho biáº¿t tá»•ng sá»‘ case á»Ÿ Viá»‡t Nam trong nÄƒm 2020

In [ ]:
total = new_df.loc[(new_df.year == 2020) & (new_df.geoId == "VN")]
total = total['cases'].sum()
total

#### 5. Quá»‘c gia cÃ³ sá»‘ deaths cao nháº¥t trong thÃ¡ng 6/2020

In [111]:
death = new_df.loc[(new_df.month == 6) & (new_df.year == 2020)].groupby("countriesAndTerritories").deaths.sum().idxmax()
death

'Brazil'

In [118]:
temp = new_df.loc[(new_df.month == 6) & (new_df.year == 2020)]
temp1 = temp.groupby(by='geoId').deaths.sum()
temp1.max(), temp1.idxmax()

(29480, 'BR')

#### CACH 2

#### 6. Danh sÃ¡ch cÃ¡c quá»‘c gia cÃ³ tá»•ng cases tá»« ngÃ y 10 -> 15 hÃ ng thÃ¡ng trong nÄƒm 2020 lá»›n hÆ¡n 100

In [125]:
new_case = new_df.loc[(new_df.year == 2020) & (new_df.day >= 10) & (new_df.day <= 15)].groupby("countriesAndTerritories").cases.sum()
# total_case = new_case.groupby(by='geoId').cases.sum()
# total_case.max(), total_case.idxmax()
new_case.loc[new_case > 100]

countriesAndTerritories
Afghanistan        8023
Albania            4931
Algeria           11960
Andorra            1038
Angola             2093
                  ...
Vietnam             230
Western_Sahara      247
Yemen               550
Zambia             3360
Zimbabwe           1076
Name: cases, Length: 176, dtype: int64